$base-font-size: 16 !default;

//colors

$white: #fff !default;
$black: #000 !default;
$primary-color: #248b72 !default;
$primary-color-hover: #3bdbb3 !default;
$background: #f3f3f3 !default;
$input-shadow-color: #5f9587 !default;
$error: #F44336 !default;
$login-box-shadow: rgba(0, 0, 0, 0.04) !default;
